*{
    box-sizing: border-box;
}
body{
    padding:0;margin:0;
}
.caixa{
    width:669px;
    height: 100vh;
    margin:20px auto;
    border:3px solid gray;

    /* Tenta jogar todos os elementos na mesma linha */
    display: flex;

    /* Condiciona que os elementos podem quebrar linha */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-items:baseline;
}
.caixa div{
    padding:20px;
    background-color:orangered;
    margin:10px;
    width:100px;
}